.pakku/parent

# From `pakku export`
build/
mods/*
!mods/tfgf-*.jar
exports/
resourcepacks/
shaderpacks/

# My global ignore carries a ctags `tags` pattern, which mangles datapack tag dirs.
# We gotta add it back or the produced export will lack them :/
!kubejs/data/**/tag
